# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Data & lake
data/
datasets/
raw_data/
processed_data/

# Artefacts & modeles
artifacts/
models/
checkpoints/
*.joblib
*.pkl
*.pickle

# MLflow
mlruns/
mlflow/mlflow.db

# Airflow
airflow.db
airflow-webserver.pid
standalone_admin_password.txt

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
*.crt
